<h2>
  <%= @role[:name]%> edit
</h2>

<%= link_to "mapping", edit_role_and_user_path(@role) unless @role.types == "people" %>
<% if @role.types == "people" %>
  <p>For users that are not login</p>
<% end %>

<%= form_tag(role_path(@role), method: :put) do%>
<table border=1>
  <thead>
    <tr>
      <th>
        Helper
      </th>
      <th>
        Http verb
      </th>
      <th>
        Path
      </th>
      <th>
        controller#action
      </th>
      <th>
        approval
      </th>
    </tr>
  </thead>
  <tbody>
    <% @lines.each do |line|%>
    <tr>
      <td>
        <%= line[:name] %>
      </td>
      <td>
        <%= line[:verb] %>
      </td>
      <td>
        <%= line[:path] %>
      </td>
      <td>
        <%= line[:reqs] %>
      </td>
      <td>
        <%= check_box_tag "role[authority][]", line[:reqs], @role.get_authority[line[:reqs]].present? ? true:false %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "update" %>
<%= link_to "back", roles_path() %>
<% end %>
